header a {
  color: #fff;
}

header h1 {
  font-size: 24px;
}

.crud-ops .btn {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
.crud-ops .btn.assign {
  margin-left: 10px;
  width: fit-content;
  height: 30px;
}
